.odd {
    background-color:rosybrown;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#evenone {
    color: blue;
    font-size: 32px
}

.num3 {
    font-size: 24px;
}

#eventwo {
    background-color:green;
    font-size: 24px;
    font-weight: bold;
}