body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
  
}

.title {
  background: #e3f4ff;
  font-size: small;
  padding: 4px;
}

.content {
  background: #e3f4ff;
  margin: 16px;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 16px;
  text-align: center;
}

button {
  background: white;
  margin: 0 auto;
  padding: 5px;
  display: block;

}